name: Test

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    test:
        runs-on: ubuntu-latest
        services:
            mysql:
                image: mysql:latest
                env:
                    MYSQL_ROOT_PASSWORD: password
                    MYSQL_DATABASE: mydb
                ports:
                    - 3306/tcp
                options: >-
                    --health-cmd "mysqladmin ping -h localhost -u root -p${MYSQL_ROOT_PASSWORD}"
                    --health-interval 10s
                    --health-timeout 5s
                    --health-retries 5
                    --health-start-period 30s
        steps:
            - uses: actions/checkout@v3
            - name: Set up MySQL
              run: mysql -h 127.0.0.1 -u root -ppassword mydb < ./init.sql
            - name: Set up Go
              uses: actions/setup-go@v4
              with:
                  go-version: "1.23.4"
            - name: Install dependencies
              run: cd src && go mod download
            - name: Run tests
              env:
                  DB_USER: root
                  DB_PASSWORD: password
                  DB_NAME: mydb
                  DB_HOST: 127.0.0.1 # Explicitly set host
                  HOST: 0.0.0.0
                  PORT: 8080
                  JWT_SECRET_KEY: secret
                  CI_TEST: true
              run: cd src && go test -v ./*/*/
